<div class="article">
  <h1><%= @article.title %></h1>

  <p><%= @article.body%></p>

  <% if current_user%>
    <ul class="list-inline">


      <li class="list-inline-item"><%= link_to "Edit", edit_article_path(@article) %></li>
      <li class="list-inline-item"><%= link_to "Delete", article_path(@article),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></li>
    </ul>
  <% end %>

  <hr />


  <div class="comment-section">
    <h2>Comments</h2>
    <%= render @article.comments %>

    <% if current_user %>
      <%= render 'comments/form' %>
    <% else %>
      <p>
        Log in to add a comment
      </p>
    <% end%>
  </div>
</div>
